.App {
    text-align: center;
}

.App-link {
    color: #61dafb;
}

.thread-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#thread-title {
    margin-top: 30px;
    margin-bottom: 8px;
    width: 80%;
}

#thread-content {
    width: 100%;
}

#thread-submit {
    margin: 8px 4px;
}

#reply-content {
    margin-top: 8px;
}

#reply-submit {
    margin-bottom: 8px;
    margin-right: 4px;
}

#reply-cancel {
    margin-bottom: 8px;
    margin-left: 4px;
}

#post-reply {
    margin-top: 12px;
    margin-bottom: 16px;
}

#create-thread {
    margin-top: 12px;
    margin-right: 12px;
}

#refresh-button {
    margin-top: 12px;
    margin-left: 12px;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

body {
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -moz-transition: -moz-transform 0.325s ease-in-out, -moz-filter 0.325s ease-in-out;
    -webkit-transition: -webkit-transform 0.325s ease-in-out, -webkit-filter 0.325s ease-in-out;
    -ms-transition: -ms-transform 0.325s ease-in-out, -ms-filter 0.325s ease-in-out;
    transition: transform 0.325s ease-in-out, filter 0.325s ease-in-out;
    background-image: url("../images/bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
    z-index: 1;
}

.thread-title {
    font-size: 24px;
    font-weight: bold;
    align-items: flex-start;
    display: flex;
    justify-content: flex-start;
    text-decoration: underline;
    margin: 12px;
}

.thread-content {
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    justify-content: flex-start;
    display: flex;
    align-items: flex-start;
    padding: 6px;
    border-top: 1px solid #585858;
    border-bottom: 1px solid #585858;
    background-color: rgba(128, 128, 128, 0.75);
    margin-bottom: 4px;
    border-radius: 5px;
}

.reply-container {
    width: 100%;
}

.reply-content {
    font-size: 16px;
    align-items: flex-start;
    display: flex;
    justify-content: flex-start;
    text-align: left;
    border-bottom: 1px solid #585858;
    padding: 6px;
    background-color: rgba(128, 128, 128, 0.445);
    margin-bottom: 4px;
    border-radius: 5px;
}

.edit-delete {
    display: flex;
    justify-content: flex-end;
    margin-right: 16px;
    margin-bottom: 8px;
}

.forum-container {
    width: 80%;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
}

.thread-container {
    background-color: #ffffff75;
    padding: 0px 12px;
    border-bottom: 1px solid #585858;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 20px;
}

.author {
    margin-right: 8px;
}

.author-t {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 8px;
}

.edit-delete-t {
    width: 100%;
    justify-content: right;
    margin-bottom: 8px;
}
